@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 16px;
    color: hsl(218, 44%, 22%);
    font-size: 22px;
    letter-spacing: .1px;
}

p {
    margin: 0 16px;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    letter-spacing: .2px;
}

.card {
    width: 320px;
    height: 497px;
    padding: 16px;
    border-radius: 20px;
    background: hsl(0, 0%, 100%);
}

.card .qr-img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.card .card_desc {
    margin: 24px 0;
    text-align: center;
}

/* attribution */

.attribution {
    color: hsl(218, 44%, 22%);
    position: relative;
    top: 12px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: #2c7dfa;
}